.post {
    position: relative;
    width: 40%;
    height: 20%;
    background: #fff;
    box-shadow:0 4px 10px 0 rgba(17, 4, 63, 0.2),0 4px 20px 0 rgba(79, 19, 97, 0.19);
    margin: 10px 10px 10px 20px;
    float:left;
    border-radius: 15px;
}
    
.post-left {
        width: 15%;            
        max-width: 15%;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-weight: bold;
        color: #000;
}
.post-content {
        width: 75%;           
        display: table-cell;
        text-align: left;
        text-justify: auto;
        background-color: #E8E8E8;
        color: #000000;
        border-radius: 0 15px 15px 0;
        padding: 0 20px;   
      
}
.post-title{
    font-family: 'Itim', cursive;
    font-weight: bold;
    color: #2b312b;
    font-size: 25px;
    height:25px;
    padding:10px;
    margin-top: 0px;
    }
.post-more {
    float: right;
    cursor: pointer;
    font-size: 18px;
    margin-right: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 10px;
    font-size: 30px;
}
.post-desc{
    height: 100px;
    margin-bottom: 0 !important;
    padding:10px;
    text-overflow: clip;
    overflow: hidden; 
}

body {
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0 !important;
    color: #fff;
    background-color: orange;
    background-size: 2000% 2000%;
}
.allPostsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 

}
/*more CSS styles added */
#main-header{
    font-size: 40px;
    font-style: italic;
    font-weight: lighter;
    font-family: 'Leckerli One', cursive;
    color:rgb(10, 69, 230);
    
 }
 #sub-header{
    font-weight: 100;
    font-family: 'Leckerli One', cursive;
 }
 #btn-span{
    position: absolute;
    right: 0px;
 }
 .header-btn{
    width:90px;
    padding:5%;
    color:white;
    background-color:blue;
 }
 @media(max-width:735px)
 {
     .post-title{
         font-size: 120%;
     }
 }
 @media(max-width:615px)
 {
     .post-title{
         font-size: 100%;
     }
 }
 @media(max-width:545px)
 {
     .post-title{
         font-size: 80%;
     }
 }
 #ellipicon{
	position:absolute;
	bottom:5px;
    right:10px;
    color:black;

}
#trashicon{
	position:absolute;
	top:5px;
    right:10px;
    color:black;
    cursor: pointer;
    font-size:20px;

}
/* MODAL PART FOR DELETE*/
.modal {
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    
 }
 .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  #deletemodal-content{
    position: absolute;
    top:30%;
    left:30%;
    color:black;
    background-color: #fefefe;
    padding: 20px;
    border: 2px solid #888;
    width: 35%;
    height:20%; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }
  #modal-button{
      font-size: 30px;
  }
 .modal-yesbutton{
     position: absolute;
     left:0px;
     width:80px;
     height:30px;
     font-size:20px;
 }
 .modal-yesbutton{
    position: absolute;
    left:30px;
    bottom:40px;
    width:80px;
    height:30px;
    font-size:20px;
    background-color: green;
    color:white;
    border-style: none;
    border-radius: 3px;
}
.modal-nobutton{
    position: absolute;
    right:30px;
    bottom:40px;
    width:80px;
    height:30px;
    font-size:20px;
    background-color: red;
    color:white;
    border-style: none;
    border-radius: 3px;
}